body {
background-color: grey;
  
}
header {
background: linear-gradient(to right, rgb(166, 222, 254) 70%, rgb(3, 51, 86));
border-bottom: 2px solid rgb(3, 51, 86);
text-align: center;
font-size: 70px;
}

li {
display: inline;
padding-left: 70px;
font-style: italic

}

nav {
text-align: center;
}

p {
font-size: 55px;
color: white;
}

a:link {
text-decoration: none;
color: black;
}

a:visited {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: none;
color: gold;
}

a:active {
text-decoration: none;
color: black;
}
.logo
{
   height: 90px;
   float: left;
   margin: 16px 48px;
}
label.logo
{
   color: yellow;
   float: right;
   line-height: 20px;
   font-weight: bold;
   padding: 20 50px;
}
#result {
   color:yellow;
   background: grey;
   display: inline;
}